.card-container{
    border: 1px solid black;
    width: 50%;
}
.card-is-complete{
    background-color: aquamarine;
}
.card-not-complete{
    background-color: chartreuse;
}
p{
    font-size: 26px;
    padding: 0;
    margin: 0;
}